/* STYLESHEET */

/* basics */

pre {
  
}

li > h1 {
  display: none;
}

ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}

.frame100 {
	border-radius: 100px;
}

.img-shadow {
  box-shadow: -2px -2px 8px #333333;
}

#biopic {
  display: inline;
  height: 125px;
  width: 125px;
}

#title {
  display: inline;
  padding-left: 20px;
  position: relative;
  top: 10px;
}

@media (max-width: 1083px) {
  #title {
    display: block;
    padding-left: 0px;
    position: relative;
    top: 0px;
  }
}

.btn-sm {
	display: inline-flex;
  display: -webkit-flex;
}

.jumbotron {
    background: linear-gradient(45deg, #004f6b 0%, #006386 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
    color: #FFFFFF;
    position: relative;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}

.btn-info {
  background-color: #669999;
}

.header {
  font-size: 23px;
/*  position: fixed; */
  z-index: 50;
  display: block;
  width: 101%;
}

.jumbotron h1 {
  font-size: 50px;
}

@media (max-width: 991px) {
  #title {
    font-size: 35px;
  }
}

@media (max-width: 991px) {
  #biopic {
    height: 100px;
    width: 100px;
  }
  #bio {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  #biopic-normal {
    display: inline;
    margin-bottom: 20px;
  }
  #title-normal {
    display: inline;
    padding-left: 20px;
  }
}

@media (max-width: 448px) {
  #biopic {
    height: 65px; 
    width: 65px;
  }
  #title {
    font-size: 28px;
  }
}

@media (max-width: 466px) {
  #title {display: block; padding-left: 0px; margin-top: 0px;}
  #biopic {margin-bottom: 0px; margin-top: -35px;}
  #social {margin-bottom: -20px;}
}

@media (max-width: 466px) {
  #title.shrink {display: block; padding-left: 0px; margin-top: 0px;}
  #biopic.shrink {margin-bottom: 0px; margin-top: 0px;}
}
/* icons */

.icon {
  background-repeat: no-repeat;
  height: 33px;
  width: 30px;
  position: relative;
  right: 8px;
  bottom: 7px;
  margin-bottom: -13px;
  z-index: 60;
}

.twitter {
  background-image: url('/img/twitter.png');
}

.linkedin {
  background-image: url('/img/linkedin.png');
  position: relative;
  top: -8px;
}

.github {
  background-image: url('/img/github.png');
  background-repeat: repeat;
}

@media (max-width: 515px) {
  a.btn-sm > .glyphicon { 
    display: none;
  }
  a.btn-sm > .icon {
    display: none;
  }
  .btn-sm {
    padding: 12px;
    text-align: center
  }
}

@media (max-width: 370px) {
  .social-text {
    display: inline;
    margin-right: 3px;
  }
  .icon {
    display: inline;
  }
  .github {
    margin-right: -10px;
  }
}

@media (min-width: 768px) {
  #writing {
    margin-left: -20px;
    margin-right: 20px;
  }
  #work {
    margin-left: 20px;
    margin-right: -20px;
  }
}

@media (max-width: 991px) and (min-width: 853px) {
  #bio, #social {
    position: relative;
    top: 38px;
  }
}

/* header scroll adjustments */
.tiny {
  font-size: 15px;
  padding: 5px;
}

.hide {
  visibility: hidden;
}

.shrink {
  font-size: 22px !important;
  height: 55px !important;
  width: 55px !important;
  display: inline !important;
}

.shrink#title {
  position: relative;
  top: 0px;
}

.shrink-header {
  padding: 10px !important;
}

/* proper content placement below header */

/*

@media (min-width: 0px) {
  #container {
    padding-top: 300px;
  }
}

@media (min-width: 725px) {
  #container {
    padding-top: 275px;
  }
}

@media (min-width: 768px) {
  #container {
    padding-top: 350px;
  }
}

@media (min-width: 853px) {
  #container {
    padding-top: 300px;
  }
}

@media (min-width: 992px) {
  #container {
    padding-top: 325px;
  }
}

@media (min-width: 1144px) {
  #container {
    padding-top: 275px;
  }
}
*/

#header {
  margin-bottom: -10px;
}

/* Padding modifications a la HP, small adjusted to not interfere with text size */

.pad-top {
  padding-top: 15px;
}
.pad-top.mini {
  padding-top: 4px;
}
.pad-top.sm {
  padding-top: 8px;
}
.pad-top.medium {
  padding-top: 11px;
}
.pad-top.large {
  padding-top: 23px;
}
.pad-top.extra-large {
  padding-top: 35px;
}
.pad-top.jumbo {
  padding-top: 45px;
}
.pad-top.extra-jumbo {
  padding-top: 55px;
}
.pad-bottom {
  padding-bottom: 15px;
}
.pad-bottom.mini {
  padding-bottom: 4px;
}
.pad-bottom.sm {
  padding-bottom: 8px;
}
.pad-bottom.medium {
  padding-bottom: 11px;
}
.pad-bottom.large {
  padding-bottom: 23px;
}
.pad-bottom.extra-large {
  padding-bottom: 35px;
}
.pad-bottom.jumbo {
  padding-bottom: 45px;
}
.pad-bottom.extra-jumbo {
  padding-bottom: 55px;
}
.pad-left {
  padding-left: 15px;
}
.pad-left.mini {
  padding-left: 4px;
}
.pad-left.sm {
  padding-left: 8px;
}
.pad-left.medium {
  padding-left: 11px;
}
.pad-left.large {
  padding-left: 23px;
}
.pad-left.extra-large {
  padding-left: 35px;
}
.pad-left.jumbo {
  padding-left: 45px;
}
.pad-left.extra-jumbo {
  padding-left: 55px;
}
.pad-right {
  padding-right: 15px;
}
.pad-right.mini {
  padding-right: 4px;
}
.pad-right.sm {
  padding-right: 8px;
}
.pad-right.medium {
  padding-right: 11px;
}
.pad-right.large {
  padding-right: 23px;
}
.pad-right.extra-large {
  padding-right: 35px;
}
.pad-right.jumbo {
  padding-right: 45px;
}
.pad-right.extra-jumbo {
  padding-right: 55px;
}