/* STYLESHEET */

.frame100 {
	border-radius: 100px;
}

.img-shadow {
  box-shadow: 4px 4px 8px #333333;
}

.btn-sm {
	display: inline-flex;
}

.jumbotron {
    background: linear-gradient(45deg, #003300 0%, #336600 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
    color: #FFFFFF;
    padding: 40px 0;
    position: relative;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}

.btn-info {
  background-color: #669999;
}

/* Padding modifications a la HP, small adjusted to not interfere with text size */

.pad-top {
  padding-top: 15px;
}
.pad-top.mini {
  padding-top: 4px;
}
.pad-top.sm {
  padding-top: 8px;
}
.pad-top.medium {
  padding-top: 11px;
}
.pad-top.large {
  padding-top: 23px;
}
.pad-top.extra-large {
  padding-top: 35px;
}
.pad-top.jumbo {
  padding-top: 45px;
}
.pad-top.extra-jumbo {
  padding-top: 55px;
}
.pad-bottom {
  padding-bottom: 15px;
}
.pad-bottom.mini {
  padding-bottom: 4px;
}
.pad-bottom.sm {
  padding-bottom: 8px;
}
.pad-bottom.medium {
  padding-bottom: 11px;
}
.pad-bottom.large {
  padding-bottom: 23px;
}
.pad-bottom.extra-large {
  padding-bottom: 35px;
}
.pad-bottom.jumbo {
  padding-bottom: 45px;
}
.pad-bottom.extra-jumbo {
  padding-bottom: 55px;
}
.pad-left {
  padding-left: 15px;
}
.pad-left.mini {
  padding-left: 4px;
}
.pad-left.sm {
  padding-left: 8px;
}
.pad-left.medium {
  padding-left: 11px;
}
.pad-left.large {
  padding-left: 23px;
}
.pad-left.extra-large {
  padding-left: 35px;
}
.pad-left.jumbo {
  padding-left: 45px;
}
.pad-left.extra-jumbo {
  padding-left: 55px;
}
.pad-right {
  padding-right: 15px;
}
.pad-right.mini {
  padding-right: 4px;
}
.pad-right.sm {
  padding-right: 8px;
}
.pad-right.medium {
  padding-right: 11px;
}
.pad-right.large {
  padding-right: 23px;
}
.pad-right.extra-large {
  padding-right: 35px;
}
.pad-right.jumbo {
  padding-right: 45px;
}
.pad-right.extra-jumbo {
  padding-right: 55px;
}