<h2>Work</h2>

<h3><a target="_blank" href="https://www.youtube.com/watch?v=u3TW1t9K-4k">Plan for me<span class="glyphicon glyphicon-new-window pull-right"></span></a><br /><small>Insurance plan comparison tool for group employees</small></h3>
<p>UX for tool to help employees select the best health insurance plan for themselves and their families.</p>

<h3><a target="_blank" href="https://itunes.apple.com/us/app/my-hp/id562354498?ls=1&mt=8">myHP<span class="glyphicon glyphicon-new-window pull-right"></span></a></br><small>iOS and mobile apps for HealthPartners members &amp; patients</small></h3>
<p>UX for prescription refill, care location finder, plan balances, appointment scheduling and more.</p>

<h3>Health records and Past care events<br /><small>Updated IA and combined display of claims with relevant patient records</small></h3>
<p>UX for patient health records page and Past Care Events on the Activity timeline: bringing together claims, patient instruction and more to provide a comprehensive account of a care visit or event. Visible with any member login to <a href="http://www.healthpartners.com">healthpartners.com</a>.<p>
<p><small>Portfolio work available upon request/in person.</small></p>


<h2>Process</br><small>LeanUX &amp; Collaborative design thinking</small></h2>
<p>While I am skilled in a variety of traditional UX methods, I specialize in lean UX methods such as guerilla (or just plain quick and simple) testing, design session moderation, rapid prototyping, sketching and building collaborative relationship with project partners.</p>

<p>The biggest challenges I face and continue to find ways to overcome are wrangling old systems in to polished, usable interfaces. I seek to implement creative solutions on top of inflexible databases and legacy systems, hopefully rippling change back to the core.</p>