{% include header.html %}
<div class="row">
	<div class="col-md-12 col-sm-12 pad-top">
		<div class="col-md-7 col-sm-7" id="writing">
			<h2 class="background">Writing</h2>
			<div class="content">{{ content }}</div>
			<ul>
  				{% for post in site.posts %}
    			<li>
      				<h3><a href="{{ post.url }}">{{ post.title }}</a><br /><small>{{ post.date | date: '%B %d, %Y' }}</small></h3>
      				<article>{{ post.excerpt }} <a href="{{ post.url }}">read more &gt;</a></article>
    			</li>
  				{% endfor %}
			</ul>
			<h2 class="background">Talks &amp; Decks</h2>
			<h3>Lean UX - Sharing Design<br/><small><a href="http://www.meetup.com/LeanUXMN/">Lean UX MN</a> - September, 2013</small></h3>
			<div class="speakerdeck">
				<script async class="speakerdeck-embed" data-id="d11c561002a301310e992e88a2aaf88c" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
			</div>
		</div>
		<div class="col-md-5 col-sm-5" id="work">
			{% include work.html %}
		</div>
	</div>
</div>
{% include footer.html %}