{% include header.html %}
<div class="row">
	<div class="col-md-12 col-sm-12 pad-top">
		<div class="col-md-7 col-sm-7" id="writing">
			<h2>Writing</h2>
			<div class="content">{{ content }}</div>
			<ul>
  				{% for post in site.posts %}
    			<li>
      				<h3><a href="{{ post.url }}">{{ post.title }}</a><br /><small>{{ post.date | date: '%B %d, %Y' }}</small></h3>
      				<article>{{ post.excerpt }} <a href="{{ post.url }}">read more &gt;</a></article>
    			</li>
  				{% endfor %}
			</ul>
		</div>
		<div class="col-md-5 col-sm-5" id="work">
			{% include work.html %}
		</div>
	</div>
</div>
{% include footer.html %}